In [1]:
import pandas as pd 
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler

## Load Dataset

In [2]:
df_full_feature = pd.read_csv('processed_dataset_10.csv',sep=',')
df_chi_square = pd.read_csv('processed_dataset_chi_square.csv', sep=',')
df_feature_selection = pd.read_csv('processed_dataset_5.csv',sep=',')
df_slice = pd.read_csv('processed_dataset_slice.csv',sep=',')

## Check Dataset

In [3]:
df_full_feature.head(5)

,src,dst,Protocol,pktrate,pktperflow,dur,dur_nsec,bytecount,pktcount,label
0,1.0,11.0,1,0,29,983,235000000,94178,961,0.0
1,6.0,12.0,2,511,15344,384,114000000,11954682,221383,1.0
2,10.0,15.0,1,1,30,821,243000000,78498,801,0.0
3,15.0,16.0,2,330,9919,98,622000000,2145912,32512,0.0
4,2.0,11.0,3,274,8223,287,579000000,90935340,87270,1.0

In [4]:
df_chi_square.head(5)

    dst   src  Protocol  pktcount  pktcount.1  label
0  11.0   1.0         1       961         961    0.0
1  12.0   6.0         2    221383      221383    1.0
2  15.0  10.0         1       801         801    0.0
3  16.0  15.0         2     32512       32512    0.0
4  11.0   2.0         3     87270       87270    1.0

In [5]:
df_feature_selection.head(5)

   pktrate  pktperflow  Protocol   src   dst  label
0        0          29         1   1.0  11.0    0.0
1      511       15344         2   6.0  12.0    1.0
2        1          30         1  10.0  15.0    0.0
3      330        9919         2  15.0  16.0    0.0
4      274        8223         3   2.0  11.0    1.0

In [6]:
df_slice.head(5)

    dst   src  Protocol  bytecount  label
0  11.0   1.0         1      94178    0.0
1  12.0   6.0         2   11954682    1.0
2  15.0  10.0         1      78498    0.0
3  16.0  15.0         2    2145912    0.0
4  11.0   2.0         3   90935340    1.0

## Standarisasi Proses

Deklarasi Standard Scaler, merupakan sebuah scalling dengan menggunakan metode Standard Deviasi, untuk menggerjakan ini menggunakan bantuan dari library sklearn

In [7]:
std_scaler = StandardScaler()
std_scaler

StandardScaler()

Melakukan standarisasi dari dataset yang sudah disiapkan

In [8]:
df_full_feature_std = pd.DataFrame(std_scaler.fit_transform(df_full_feature[0:8]), columns=df_full_feature.columns)
df_chi_square_std = pd.DataFrame(std_scaler.fit_transform(df_chi_square[0:4]), columns=df_chi_square.columns)
df_feature_selection_std = pd.DataFrame(std_scaler.fit_transform(df_feature_selection[0:4]), columns=df_feature_selection.columns)
df_slice_std = pd.DataFrame(std_scaler.fit_transform(df_slice[0:3]), columns=df_slice.columns)

In [9]:
df_full_feature_std['label'] = df_feature_selection['label'].astype('int')
df_chi_square_std['label'] =  df_chi_square['label'].astype('int')
df_feature_selection_std['label'] = df_feature_selection['label'].astype('int')
df_slice_std['label'] = df_slice['label'].astype('int')

simpan dataset yang sudah dilakukan standarisasi

In [10]:
df_full_feature_std.to_csv("processed_dataset_10_std.csv", sep=',', index=False)
df_feature_selection_std.to_csv("processed_dataset_5_std.csv", sep=',', index=False)
df_chi_square_std.to_csv("processed_dataset_chi_square_std.csv", sep=',', index=False)
df_slice_std.to_csv('processed_dataset_slice_std.csv', sep=',', index=False)

## Normalisasi Proses

Proses normalisasi ini menggunakan rumus Min-Max Score, dilakukan dengan melakukan pembagian terhadap nilai max dan min dari suatu kolom, kemudian penggunaan Min-Max ini akan sangat terpengaruh dengan adanya outlier

In [11]:
norm_scaler = MinMaxScaler()
norm_scaler

MinMaxScaler()

melakukan normalisasi untuk dataset yang sudah disiapkan

In [12]:
df_full_feature_norm = pd.DataFrame(norm_scaler.fit_transform(df_full_feature), columns=df_full_feature.columns)
df_chi_square_norm = pd.DataFrame(norm_scaler.fit_transform(df_chi_square), columns=df_chi_square.columns)
df_feature_selection_norm = pd.DataFrame(norm_scaler.fit_transform(df_feature_selection), columns=df_feature_selection.columns)
df_slice_norm = pd.DataFrame(norm_scaler.fit_transform(df_slice), columns=df_slice.columns)

In [13]:
df_full_feature_norm['label'] = df_feature_selection['label'].astype('int')
df_chi_square_norm['label'] =  df_chi_square['label'].astype('int')
df_feature_selection_norm['label'] = df_feature_selection['label'].astype('int')
df_slice_norm ['label'] = df_slice['label'].astype('int')

In [14]:
df_full_feature_norm.to_csv("processed_dataset_10_norm.csv", sep=',', index=False)
df_feature_selection_norm.to_csv("processed_dataset_5_norm.csv", sep=',', index=False)
df_chi_square_norm.to_csv("processed_dataset_chi_square_norm.csv", sep=',', index=False)
df_slice_norm.to_csv('processed_dataset_slice_norm.csv', sep=',', index=False)