In [2]:
import pandas as pd 
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler

## Load Dataset

In [3]:
# Data Training
# df_full_feature = pd.read_csv('processed_dataset_10.csv',sep=',')
# df_chi_square = pd.read_csv('processed_dataset_chi_square.csv', sep=',')
# df_feature_selection = pd.read_csv('processed_dataset_5.csv',sep=',')
# df_slice = pd.read_csv('processed_dataset_slice.csv',sep=',')

# Data Testing
df_full_feature = pd.read_csv('test_processed_dataset_10.csv',sep=',')
df_chi_square = pd.read_csv('test_processed_dataset_chi_square.csv', sep=',')
df_feature_selection = pd.read_csv('test_processed_dataset_5.csv',sep=',')
df_slice = pd.read_csv('test_processed_dataset_slice.csv',sep=',')

## Check Dataset

In [4]:
df_full_feature.head(5)

,src,dst,Protocol,pktrate,pktperflow,dur,dur_nsec,bytecount,pktcount,label
0,1.0,14.0,1,1,30,763,231000000,72716,742,0.0
1,15.0,13.0,2,0,0,18,617000000,358668,6642,1.0
2,0.0,15.0,3,450,13527,41,685000000,20603648,19328,0.0
3,13.0,5.0,2,266,7994,258,843000000,4005450,74175,1.0
4,17.0,13.0,3,450,13527,143,187000000,70324020,65970,0.0

In [5]:
df_chi_square.head(5)

    dst   src  Protocol  pktcount  pktcount.1  label
0  14.0   1.0         1       742         742    0.0
1  13.0  15.0         2      6642        6642    1.0
2  15.0   0.0         3     19328       19328    0.0
3   5.0  13.0         2     74175       74175    1.0
4  13.0  17.0         3     65970       65970    0.0

In [6]:
df_feature_selection.head(5)

   pktrate  pktperflow  Protocol   src   dst  label
0        1          30         1   1.0  14.0    0.0
1        0           0         2  15.0  13.0    1.0
2      450       13527         3   0.0  15.0    0.0
3      266        7994         2  13.0   5.0    1.0
4      450       13527         3  17.0  13.0    0.0

In [7]:
df_slice.head(5)

    dst   src  Protocol  bytecount  label
0  14.0   1.0         1      72716    0.0
1  13.0  15.0         2     358668    1.0
2  15.0   0.0         3   20603648    0.0
3   5.0  13.0         2    4005450    1.0
4  13.0  17.0         3   70324020    0.0

## Standarisasi Proses

Deklarasi Standard Scaler, merupakan sebuah scalling dengan menggunakan metode Standard Deviasi, untuk menggerjakan ini menggunakan bantuan dari library sklearn

In [8]:
std_scaler = StandardScaler()
std_scaler

StandardScaler()

Melakukan standarisasi dari dataset yang sudah disiapkan

In [9]:
df_full_feature_std = pd.DataFrame(std_scaler.fit_transform(df_full_feature[0:8]), columns=df_full_feature.columns)
df_chi_square_std = pd.DataFrame(std_scaler.fit_transform(df_chi_square[0:4]), columns=df_chi_square.columns)
df_feature_selection_std = pd.DataFrame(std_scaler.fit_transform(df_feature_selection[0:4]), columns=df_feature_selection.columns)
df_slice_std = pd.DataFrame(std_scaler.fit_transform(df_slice[0:3]), columns=df_slice.columns)

In [10]:
df_full_feature_std['label'] = df_feature_selection['label'].astype('int')
df_chi_square_std['label'] =  df_chi_square['label'].astype('int')
df_feature_selection_std['label'] = df_feature_selection['label'].astype('int')
df_slice_std['label'] = df_slice['label'].astype('int')

simpan dataset yang sudah dilakukan standarisasi

In [11]:
# Data Training 
# df_full_feature_std.to_csv("processed_dataset_10_std.csv", sep=',', index=False)
# df_feature_selection_std.to_csv("processed_dataset_5_std.csv", sep=',', index=False)
# df_chi_square_std.to_csv("processed_dataset_chi_square_std.csv", sep=',', index=False)
# df_slice_std.to_csv('processed_dataset_slice_std.csv', sep=',', index=False)

# Data Testing
df_full_feature_std.to_csv("test_processed_dataset_10_std.csv", sep=',', index=False)
df_feature_selection_std.to_csv("test_processed_dataset_5_std.csv", sep=',', index=False)
df_chi_square_std.to_csv("test_processed_dataset_chi_square_std.csv", sep=',', index=False)
df_slice_std.to_csv('test_processed_dataset_slice_std.csv', sep=',', index=False)

## Normalisasi Proses

Proses normalisasi ini menggunakan rumus Min-Max Score, dilakukan dengan melakukan pembagian terhadap nilai max dan min dari suatu kolom, kemudian penggunaan Min-Max ini akan sangat terpengaruh dengan adanya outlier

In [12]:
norm_scaler = MinMaxScaler()
norm_scaler

MinMaxScaler()

melakukan normalisasi untuk dataset yang sudah disiapkan

In [13]:
df_full_feature_norm = pd.DataFrame(norm_scaler.fit_transform(df_full_feature), columns=df_full_feature.columns)
df_chi_square_norm = pd.DataFrame(norm_scaler.fit_transform(df_chi_square), columns=df_chi_square.columns)
df_feature_selection_norm = pd.DataFrame(norm_scaler.fit_transform(df_feature_selection), columns=df_feature_selection.columns)
df_slice_norm = pd.DataFrame(norm_scaler.fit_transform(df_slice), columns=df_slice.columns)

In [14]:
df_full_feature_norm['label'] = df_feature_selection['label'].astype('int')
df_chi_square_norm['label'] =  df_chi_square['label'].astype('int')
df_feature_selection_norm['label'] = df_feature_selection['label'].astype('int')
df_slice_norm ['label'] = df_slice['label'].astype('int')

In [16]:
# Data Training 
# df_full_feature_norm.to_csv("processed_dataset_10_norm.csv", sep=',', index=False)
# df_feature_selection_norm.to_csv("processed_dataset_5_norm.csv", sep=',', index=False)
# df_chi_square_norm.to_csv("processed_dataset_chi_square_norm.csv", sep=',', index=False)
# df_slice_norm.to_csv('processed_dataset_slice_norm.csv', sep=',', index=False)

# Data Testing
df_full_feature_norm.to_csv("test_processed_dataset_10_norm.csv", sep=',', index=False)
df_feature_selection_norm.to_csv("test_processed_dataset_5_norm.csv", sep=',', index=False)
df_chi_square_norm.to_csv("test_processed_dataset_chi_square_norm.csv", sep=',', index=False)
df_slice_norm.to_csv('test_processed_dataset_slice_norm.csv', sep=',', index=False)