In [2]:
import requests
import pandas as pd

## Get Request

In [3]:
r = requests.get('https://catfact.ninja/fact')

In [4]:
r.status_code

200

In [6]:
r.text

'{"fact":"A cat\'s normal pulse is 140-240 beats per minute, with an average of 195.","length":73}'

In [9]:
data_json = r.json()
data_json['fact']

"A cat's normal pulse is 140-240 beats per minute, with an average of 195."

# Exercise 1

In [17]:
r = requests.get('https://date.nager.at/api/v3/publicholidays/2022/ID')
r.status_code

200

In [20]:
df = pd.DataFrame(r.json())
df.head(5)

,date,localName,name,countryCode,fixed,global,counties,launchYear,types
0,2022-01-01,Tahun Baru Masehi,New Year's Day,ID,True,True,None,NaN,[Public]
1,2022-04-15,Wafat Isa Almasih,Good Friday,ID,False,True,None,NaN,[Public]
2,2022-04-17,Paskah,Easter Sunday,ID,False,True,None,NaN,[Public]
3,2022-05-01,Hari Buruh Internasional,Labour Day,ID,True,True,None,NaN,[Public]
4,2022-05-26,Kenaikan Isa Almasih,Ascension Day,ID,False,True,None,NaN,[Public]

# Exercises 2

In [36]:
r  = requests.get('https://randomuser.me/api/')
data_nama = r.json()
info = data_nama['results'][0]

In [37]:
biodata = {
    'born' : info['dob']['date'],
    'gender' : info['gender'],
    'first_name' : info['name']['first'],
    'last_name' : info['name']['last']
}
biodata

{'born': '1959-09-12T23:10:06.091Z',
 'gender': 'female',
 'first_name': 'Freja',
 'last_name': 'Pedersen'}

In [38]:
from dateutil import parser
date = parser.parse(biodata['born'])
date = date.strftime('%d-%m-%Y')
biodata['born'] = date
biodata

{'born': '12-09-1959',
 'gender': 'female',
 'first_name': 'Freja',
 'last_name': 'Pedersen'}

In [42]:
param = {
    'service' : 'AKfycbw7gKzP-WYV2F5mc9RaR7yE3Ve1yN91Tjs91hp_jHSE02dSv9w',
    'nama' : biodata['first_name'],
    'tanggal' : biodata['born']
}

data = requests.get('https://script.google.com/macros/exec', params=param)
result = data.json()
result

{'status': 'success',
 'data': {'nama': 'Freja',
  'lahir': 'Sabtu Legi, 12 September 1959',
  'usia': '62 Tahun 9 Bulan 9 Hari',
  'ultah': '2 Bulan 23 Hari',
  'zodiak': 'Virgo'}}

In [45]:
biodata['zodiak'] = result['data']['zodiak']
biodata

{'born': '12-09-1959',
 'gender': 'female',
 'first_name': 'Freja',
 'last_name': 'Pedersen',
 'zodiak': 'Virgo'}

# POST Request

In [47]:
param = {
    "email": "eve.holt@reqres.in",
    "password": "cityslicka"
}

r = requests.post('https://reqres.in/api/login', data=param)
r.json()

{'token': 'QpwL5tke4Pnpja7X4'}

In [71]:
r = requests.post("http://127.0.0.1:5000/submit")
r.text

'Hi, User'

In [75]:
param= {
    'nama' : 'Heggi'
}

r = requests.get("http://127.0.0.1:5000/nama", params=param)
r.text

'<!doctype html>\n<html lang=en>\n<title>404 Not Found</title>\n<h1>Not Found</h1>\n<p>The requested URL was not found on the server. If you entered the URL manually please check your spelling and try again.</p>\n'